<style>
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
}

.f-info-social{
    display: flex;
    width:100%;
    justify-content: center;
}

.f-info-social i{
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    opacity: 0.8;
}

.f-info-social i:hover{
    opacity: 1;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebed;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
</style>

<div class="f-info">
    <div class="f-info-social">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
    </div>
    <div>&copy;WonderList Private Limited</div>
    <div class="f-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>